body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  background-color: black;
  color: white;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 20px);
  height: 60px;
  padding: 0 10px;
}

.menu {
  margin-left: auto;
}

.app-logo {
  font-size: 32px;
}

.menu > button {
  background-color: cadetblue;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  color: white;
}

.main-content {
  background-color: rgb(247, 247, 247);
  height: 100vh;
}

.score-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding-left: 4rem;
  background-color: black;
  color: white;
  width: 320px;
  height: 100px;
  font-size: 40px;
  border-radius: 0.6rem;
}

#score {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #bb346c;
  width: 50%;
  height: 100%;
  margin-left: auto;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

#timer {
  width: 320px;
  height: 100px;
  background-color: white;
  border-radius: 0.6rem;
  margin-left: 40px;
  box-shadow: 0 2px 10px 1px #cccccc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  margin-top: 4rem;
}

.data-display {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.target-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.target-box {
  background-color: white;
  border-radius: 0.6rem;
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px 1px #cccccc;
  width: auto;
  height: 18rem;
}

.target-card {
  width: 8rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  margin: 1rem;
  box-shadow: 0 2px 10px 1px #cccccc;
  display: inline-flex;
  font-size: 24px;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
}

.target-card.active {
  width: 10rem;
  height: 12rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  margin: 1rem;
  box-shadow: 0 2px 20px 5px #363636;
  display: inline-flex;
  font-size: 24px;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
}

.key-box {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}

.key-card {
  height: 13rem;
  width: 8rem;
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 10px 1px #cccccc;
  justify-content: center;
  margin: 0.8rem;
  border-radius: 0.4rem;
  font-size: 25px;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
}

.header {
  height: 100%;
  color: white;
  background-color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}

.content {
  height: 100%;
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.target-card.correct {
  box-shadow: 0 1px 10px 1px #169716;
}

.target-card.wrong {
  box-shadow: 0 1px 10px 1px #ff5959;
}

.target-card.timeout {
  box-shadow: 0 1px 10px 1px #ffae00;
}
